<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # If the request is for a real file or folder, don't rewrite
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
    
    # Route everything else through index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>
